/*
--- 01 TYPOGRAPHY SYSTEM
  - FONT SIZES SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  - FONT WEIGHTS:
    Default : 400
  - LINE HEIGHTS:
    Default: 1;

--- Fonts
  - font-family: 'Roboto Slab', serif;

--- 02 COLORS
  text-primary-colors: #3cba54 and shades of it
  Primary:  #1877F2
  Tints:
  Shades:
  Accents:
  Greys: #555

--- 05 SHADOWS

--- 06 BORDER-RADIUS

-- 07 WHITESPACE
  - SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* ------------------- */
/* Custom properties   */
/* ------------------- */

/* These custome properties values can change with project */

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Reset Font Weights */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}
/* set up the body  version 1*/
body {
  font-family: "Roboto", sans-serif;
  color: rgb(206, 206, 206);
  background-color: #031b3a;
  /* background-color: #ecf4fe; */
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* *********************************** */
/* Header Section */
/* *********************************** */
header {
  min-height: 100vh;
  /* clip-path: polygon(0 0, 100% 0, 90% 100%, 9% 100%); */
  /* clip-path: polygon(8% 0, 100% 0, 89% 100%, 0 100%); */

  max-width: 130rem;
  margin: 0 auto;
  background-color: #021227;
}

.navbar {
  height: 5.6rem;
  display: flex;
  align-items: centers;
  justify-content: space-around;
}

.nav-list {
  list-style: none;
  padding-left: 0;

  display: flex;
  justify-content: center;
  gap: 9.6rem;
  align-items: center;
  flex: 1;

  font-size: 2rem;
  font-weight: 600;
  /* color: rgba(65, 44, 44, 0.726); */
  margin: 0;
}

/* *********************************************** */
/* Hero Section */
/* *********************************************** */

.hero-section {
  display: grid;
  grid-template-columns: 2fr 1fr;

  max-width: 110rem;
  margin: 0 auto;
  margin-top: 3.2rem;
}

.hero-img {
  width: 100%;
}

.starting-text {
  font-size: 1.8rem;
  color: #3cba53bd;
  font-weight: 500;
}

.name-text {
  font-size: 6rem;
  font-weight: 700;
  margin-top: 3.2rem;
}
.title-text {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  color: #3cba5338;
}

.hero-description {
  font-size: 1.6rem;
  color: #b3b3b393;
  width: 60%;
  margin-bottom: 5.6rem;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  color: #3cba53b6;
  font-weight: 500;
  text-align: center;
  padding: 1.2rem 3.6rem;
  border: 1px solid #3cba535e;
}

/* ************************************************* */
/* Skills Section */
/* ************************************************* */

.skills-section {
  max-width: 130rem;
  margin: 0 auto;
  background-color: #021227;
  padding-top: 3.2rem;
}

.skills-section-div {
  max-width: 110rem;
  margin: 0 auto;
  margin-top: 3.2rem;
}

.skills-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.4rem;
}

.line {
  width: 40rem;
  height: 1px;
  background-color: #3cba535e;
}

.skills-title {
  font-size: 4.2rem;
  font-weight: 500;
  text-align: center;

  /* align-self: center; */
}

.skills-grid {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  align-items: center;
}

.skill-img {
  width: 7.5rem;
  height: 7.5rem;
}

.skill-name {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
